@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&family=Work+Sans&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body {
   min-width: 300px;
}

span {
   color: #120B48;
   font-family: 'Sora', sans-serif;
   font-size: 1rem;
   font-weight: bolder;
   font-style: normal;
   line-height: normal;
}

p, button {
   color: #413C6D;
   font-family: 'Work Sans', sans-serif;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}